@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #39ff14;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), ui-monospace, monospace;
}
